<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/js/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
    </style>
</head>
<body>
    <div>
        <div class="header">首页</div>
        <div class="counter">
            <div class="app_style">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</body>
</html>